body.dash_body {
    background: #ebebeb;
    min-height: 100vh;
}
.left_sidebar {
	position: fixed;
	height: 100vh;
    overflow-y: auto;
}
.sidebar_header {
	padding: 15px;
	margin: 0 -15px;
}
.profile-img {
	width: 100px;
	height: 100px;
	line-height: 100px;
	background: #fff;
	border-radius: 50%;
	margin: auto;
}
.profile-img img {
	width: 80%;
}
.left_sidebar {
	background: #fff;
}
.left_sidebar, .left_sidebar a {
	color: #fff;
}
.left_sidebar ul, .content_header ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.left_sidebar>ul {
	margin: 0 -15px;
}
.left_sidebar ul li a {
	padding: 5px 15px;
	display: block;
	border-bottom: 1px solid #ddd;
	text-transform: capitalize;
	text-decoration: none;
}
.left_sidebar>ul>li.active>a, .left_sidebar>ul>li:hover>a {
	padding: 5px 15px 5px 10px;
}
.left_sidebar>ul>li>a>i {
	min-width: 20px;
	display: inline-block;
}
.left_sidebar>ul li:not(.active)>ul {
	display: none;
}
.left_sidebar>ul li>a>span {
	transition: all ease 0.5s;
}
.left_sidebar>ul li.active>a>span.icon-angle-right {
	transform: rotate(90deg);
}
.content_header {
	background: rgba(255,255,255,0.6);
	margin: 0 -15px 15px -15px;
	padding: 0px 15px;
	position: sticky;
	top: 0;
	z-index: 99;
}
.content_header ul {
	margin: 0;
	line-height: 100%;
	text-align: right;
	margin-bottom: -2px;
}
.content_header ul li {
	display: inline-block;
	border-left: 1px solid #ccc;
}
.content_header ul li a {
	display: table-cell;
	padding: 5px 10px;
	text-decoration: none;
	color: #666;
	line-height: 100%;
	font-size: 14px;
	height: 34px;
	vertical-align: middle;
}
.content_header ul:not(.dropdown-menu)>li>a>i {
	font-size: 20px;
}
.content_header .profile_img img {
	width: 24px;
	height: 24px;
	object-fit: cover;
}

.vh100 {
	height: 100vh;
}
.vh_center {
	position: absolute;
	z-index: 9;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
			transform: translate(-50%, -50%);
}
.dash_light {
	color: #999;
	font-size: 24px;
}

.page-header {
	background: #fff;
	margin: -15px -15px 15px -15px;
}
.breadcrumb {
	background: transparent;
	padding: 0;
	margin: 16px 0;
}
.card {
	padding: 15px;
	border-radius: 0;
}
a {
	color: #333;
}
form>a {
	text-decoration: none;
}

/* Login Page Start */
.login-page {
    height: 100vh;
    background: #e0e0e0;
}
.login-page .half {
    height: 50vh;
}
#loginForm {
    width: 450px;
    max-width: calc(100% - 30px);
    background: #fff;
    padding: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* Login Page End */

/* Form Elements */
.form-control, .btn {
	border-radius: 1px;
}
.btn, label {
    cursor: pointer;
}
.animated-checkbox input[type=checkbox] {
    display: none;
}
.animated-checkbox {
    position: relative;
    cursor: pointer;
}
.animated-checkbox span.label-text {
    margin-left: 25px;
}
.animated-checkbox span.label-text:after, .animated-checkbox span.label-text:before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    position: absolute;
    left: 0;
    top: 0;
    color: #fff;
    text-align: center;
    line-height: 18px;
}
.animated-checkbox span.label-text:after {
    border: 1px solid #333;
}
.animated-checkbox input[disabled]+span.label-text:after {
    border-color: #ccc;
    cursor: not-allowed;
}
.animated-checkbox input[type=checkbox]:checked+span.label-text:after {
    content: "\2713";
    background: #333;
}
.upload_image {
    display: block;
    text-align: center;
}
.upload_image input[type=file] {
    display: none;
}
.upload_image img {
    border: 1px solid #ccc;
    width: 100%;
}
/* End Form Elements */

@media (max-width: 768px) {
    th {
        white-space: nowrap;
    }
    .subservice .breadcrumb {
        margin-top: 0;
        float: left !important;
    }
    .page-header h1 {
        font-size: 24px;
        line-height: 48px;
    }
    .card-title {
        font-size: 18px;
    }
    .content_header {
        background: #fff;
        border-bottom: 1px solid #ccc;
    }
    .left_sidebar {
        position: fixed;
        left: -70%;
        width: 70%;
        z-index: 100;
        transition: all ease 500ms;
    }
    .left_sidebar.open {
        left: 0;
    }
}

/* Select 2 */
.select2-container--default .select2-selection--single, .select2-container--default .select2-selection--multiple {
    border-radius: 1px;
    border: 1px solid #ced4da;
}
.select2-container .select2-selection--single, .select2-container--default .select2-selection--single .select2-selection__rendered {
    height: 38px;
    line-height: 34px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 36px;
}
